#app {
    height : 100vh;
}

header {
    background-color : #B7B7B7;
    padding : 1.5em 1.4em;
}

footer {
    background-color : #B7B7B7;
    padding : 1.5em 1.4em;
}

nav {
    background-color : #5D5D5D;
    color : white;
    height : 100vh;
    padding : 1.5em 0;
    text-align : center;
}

.navbar-item {
    width : 100%;
    margin-bottom : 2em;
    color : white;
    text-decoration : none;
}

.main-page {
    background-color : #B7B7B7;
}

.user-type-page {
    background-color : grey;
    text-align: center;
    position : relative;
    padding : 2em 3em 6em;
}

.user-types {
    width : 20em;
}

.user-type-selection {
    background-color : #B7B7B7;
    border-radius : 2em;
    height : 19em;
    width : 7.5em;
    padding : 2.5em 0;
    margin : 1em;
}

.user-choice {
    border : 2px solid #33F8FF;
}

.system-manager-choice {
    border : 2px solid #3433FF
}

.user-type-image {
    border-radius: 50%;
    width : 6.5em;
    border: 2px solid black;
}

.user-type-text {
    font-size : 1.5em;
}

.welcome-text {
    font-size : 2em;
    margin-bottom : 2em;
}

.logo {
    font-weight : bold;
}

.about {
    font-size : 1.2em;
}

.terms {
    font-size : 1.2em;
    position: absolute;
    right : 1.2em;
}